In [132]:
# importing packages
import pandas as pd
import numpy as np
import glob

In [134]:
# importing data
path = str(glob.os.getcwd())

user = path.split('\\')[2]

folder = "Student_Lists"

data_files = '/Users/' + user + '/Desktop/Coding/StandardLab/' + folder

glob.os.chdir(data_files)

#all_data_files = glob.glob(data_files + "/*.csv")

id_data = pd.read_csv('MR_USB.csv', header=None)
id_data.head(5)

            0
0  MR_USB_001
1  MR_USB_002
2  MR_USB_003
3  MR_USB_004
4  MR_USB_005

In [128]:
# duplicating values for multiple sample runs
template = id_data.loc[np.repeat(id_data.index.values, 2)]

#### need to create subsets based on # of samples to run!!!!!!!!

nit_id_data = template
ure_id_data = template

In [ ]:
# Adding rows for blanks, etc. in nitrate template
ntop = []

ntop.insert(0, 4500.00)
ntop.insert(0, 4500.00)
ntop.insert(0, 4500.00)
ntop.insert(0, 3000.00)
ntop.insert(0, 3000.00)
ntop.insert(0, 3000.00)
ntop.insert(0, 1500.00)
ntop.insert(0, 1500.00)
ntop.insert(0, 1500.00)
ntop.insert(0, 0.00)
ntop.insert(0, 0.00)
ntop.insert(0, 0.00)
ntop.insert(0, '2_2')
ntop.insert(0, '2_1')
ntop.insert(0, '1_2')
ntop.insert(0, '1_1')

nit_id_data = pd.concat([pd.DataFrame(ntop), nit_id_data], ignore_index = True)
nit_id_data

In [ ]:
utop = []

utop.insert(0, 4396.660764)
utop.insert(0, 4396.660764)
utop.insert(0, 4396.660764)
utop.insert(0, 1099.165191)
utop.insert(0, 1099.165191)
utop.insert(0, 1099.165191)
utop.insert(0, 549.5825955)
utop.insert(0, 549.5825955)
utop.insert(0, 549.5825955)
utop.insert(0, 0.00)
utop.insert(0, 0.00)
utop.insert(0, 0.00)
utop.insert(0, '2_2')
utop.insert(0, '2_1')
utop.insert(0, '1_2')
utop.insert(0, '1_1')

ure_id_data = pd.concat([pd.DataFrame(utop), ure_id_data], ignore_index = True)
ure_id_data

In [ ]:
# adding template columns
nit_id_data['type'] = ''
nit_id_data['sample_wt'] = ''
nit_id_data['absorb'] = ''
nit_id_data = nit_id_data[['type', 'sample_wt', 0, 'absorb']]
nit_id_data.columns = ['type', 'sample_wt', 'sample_id', 'absorb']
nit_id_data

In [ ]:
ure_id_data['type'] = ''
ure_id_data['sample_wt'] = ''
ure_id_data['absorb'] = ''
ure_id_data = ure_id_data[['type', 'sample_wt', 0, 'absorb']]
ure_id_data.columns = ['type', 'sample_wt', 'sample_id', 'absorb']
ure_id_data

In [ ]:
# adding rows for blanks and standards
template